body{
	font-family: 'Georgia', sans-serif;
	font-size:14px;
	color:#666;
	line-height: 1.5em;
	background: #f3f3f3;
}

#container{
	width: 960px;
	margin: auto;
	overflow: auto;
	border: 1px solid #ccc;
	background: #fff;
	@include border-radius(10px); 
}


section{
	min-height:200px;
}




























